<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<nav th:replace="~{fragments :: page-header}"></nav>


<div class="container body-content g-col-8 text-white text-bg-secondary mt-3">

    <h1 class="text-white text-bg-warning"><strong>Users Profile</strong></h1>
    <div>
        <button class="btn btn-success"><a th:href="@{/profile/addUser}">Add User</a></button>
<!--        <button class="btn btn-danger"><a th:href="@{/profile/delete/}">Delete User</a></button>-->
        <button class="btn btn-secondary"><a th:href="@{'/index'}">Cancel</a></button>


    </div>

    <div class="container mt-3">
        <div class="card">
            <div class="card-header">
                <table>
<!--                    <div class="container body-content">-->
                        <thead>
                        <tr>
                            <th>#</th>

                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>State</th>
                            <th>Action</th>

                        </tr>
                        </thead>

<tbody>

<ul>
    <form action='/delete' method='POST'>
        <th:block>

    <tr th:each="profile : ${userProfiles}">
<td >
            <input type="checkbox" name="userId" th:value="${profile.id}" />
            </td>
            <td th:text="${profile.first_Name}"></td>
            <td th:text="${profile.last_Name}"></td>
            <td th:text="${profile.email}"></td>
            <td th:text="${profile.phone_Number}"></td>
            <td th:text="${profile.state}"></td>
            <td>
                <button type="button" class="btn btn-info btn-lg g-2"><a th:href="@{'/profile/edit/' + ${profile.id}}">Edit</a></button>
                <button type="submit" class="delete btn btn-danger btn-md">Delete</button>
            </td>
<!--            <button type="submit" class="btn btn-danger btn-md"><a th:href="@{'/delete/userId'}">Delete</a></button></td>-->

        </th:block>

    </tr>

    </form>
</ul>


                            </tbody>
                </table>
        <div>
        </div>
    </div>
        </div>
</div>
        <div class=" card card-footer"></div>
</div>
</body>
</html>
