<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techno.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechNo' + ${title==null ? '' : ' :: ' + title}">Simple TechNo Learning</title>
</head>

<body>
<!--<nav th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">-->

<!--    <nav th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top justify-content-center">-->
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">@TechNo</a>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">


<!--                <li><a th:href="@{/login}">Log In</a></li>-->
                <li><a th:href="@{/login}">Log Out</a></li>
                <li class="justify-right">
                    <form class="d-flex form-inline md-2 justify-right" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </li>
            </ul>

        </div>
    </div>
</nav>
<div th:fragment="page-footer">
    &copy; 2023
</div>

</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<head th:replace="fragments :: header"></head>-->

<!--<body>-->
<!--&lt;!&ndash;<nav th:replace="fragments :: nav-bar"></nav>&ndash;&gt;-->
<!--<div class="container">-->
<!--    <form method="post" class="mt-50">-->
<!--        <div class="form-group">-->
<!--            <label>Username-->
<!--                <input class="form-control" th:field="${registerFormDTO.username}" />-->
<!--            </label>-->
<!--            <p class="error" th:errors="${registerFormDTO.username}"></p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Password-->
<!--                <input class="form-control" th:field="${registerFormDTO.password}" type="password" />-->
<!--            </label>-->
<!--            <p class="error" th:errors="${registerFormDTO.password}"></p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Verify Password-->
<!--                <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password" />-->
<!--            </label>-->
<!--        </div>-->

<!--        <input type="submit" class="btn btn-primary" value="Register" />-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
