<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<nav th:replace="~{fragments :: page-header}"></nav>


<div class="container body-content g-col-8 text-white text-bg-secondary mt-3">

    <h1 class="text-white text-bg-warning"><strong>Hello Viewers! This Page Is Under Construction!!!!</strong></h1>
    </div>

<div class="justify-center">
<div class="container flex ml-5 text-white warning">
    <li> <a th:href="@{/}">Dashboard</a></li>
<!--    <a th:href="@{/profile/}">Save</a>-->
    <li> <a th:href="@{/user/}">Add User</a></li>
    <li> <a th:href="@{/profile/}">User Profile</a></li>
    <li> <a th:href="@{/edit/id/}">Edit User</a></li>
    <li> <a th:href="@{/delete/id/}">Delete User</a></li>
    <li> <a th:href="@{/settings/}">Settings</a></li>
    <li> <a th:href="@{/contact/}">Contact</a></li>

</div>
<!--    </div>-->
</body>
</html>
