<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<nav th:replace="~{fragments :: page-header}"></nav>


<div class="container body-content g-col-8 text-white text-bg-secondary mt-3">

    <h1 class="text-white text-bg-warning"><strong>Hello Viewers! This Page Is Under Construction!!!!</strong></h1>
    </div>

<div class="justify-right">
<form method="post" class="mt-50">
    <div class="form-group">
        <input type="text" />
        <label th:for="first_Name">Username
        </label>
    </div>
    <div class="form-group">
        <input type="text" />

        <label th:for="last_Name">Password
        </label>
    </div>
    <div>
        <button><a th:href="@{/profile/}">Login</a></button>
<!--        <div>    <input type="submit" class="btn btn-primary" value="Sign in" /><a th:href="@{/profile}"></a>-->

        </div>
</form>
    </div>
<!--    </div>-->
</body>
</html>
