<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
    <meta charset="UTF-8">
</head>
<body class="container body-content">

<nav th:replace="~{fragments :: page-header}"></nav>

<h3>Re-set Password</h3>
<!--<div th:replace="~{register :: register}"></div>-->
<div th:fragment="register" class="container body-content g-col-8 text-white  mt-3">
    <!--    <div class="container g-col-8 text-white text-bg-secondary mt-3">-->

    <div class="container flex">
        <form method="post" class="mt-75">

            <div class="form-group">
                <label>Password
                    <input class="form-control" th:field="${registerFormDTO.password}" type="password" />
                </label>
                <p class="error" th:errors="${registerFormDTO.password}"></p>
            </div>
            <div class="form-group">
                <label>Verify Password
                    <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password" />
                </label>
                <p class="error" th:errors="${registerFormDTO.verifyPassword}"></p>

                <div class="col-12">
                    <button class="btn btn-info"><a th:href="@{'/login'}">Cancel</a></button>
                    <input  type="submit" class="btn btn-primary g-3" value="Reset Password" /><a th:href="@{/new-user}"></a>

                </div>

        </form>
    </div>
</div>
</body>
</html>